<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/partials/create-task-modal.css">
  <link rel="stylesheet" href="/styles/components/input.css">
  <link rel="stylesheet" href="/styles/components/button.css">
  <link rel="stylesheet" href="/styles/components/select.css">
</head>

<body>
  <div class="create-task-modal">
    <h3 class="create-task-modal__title">
      <%= locals.task ? 'Editar atividade' : 'Cadastro de atividades'%>
    </h3>

    <form class="create-task-modal__form" novalidate>

      <div class="input-container name">
        <input
          type="text"
          placeholder=" "
          autocomplete="off"
          class="input-container__input"
          name="name"
          required
          value="<%= locals.task ? locals.task.name : ''%>">
        <label class="input-container__label">Nome</label>
      </div>

      <div class="input-container status">
        <select class="select" name="status">
          <option
            class="<%= locals.task && locals.task.status === 'scheduled' ? 'selected' : ''%>"
            value="scheduled">
            Agendada
          </option>
          <option
            class="<%= locals.task && locals.task.status === 'done' ? 'selected' : ''%>"
            value="done">
            Concluída
          </option>
        </select>
      </div>

      <button
        class="create-task-modal__button button <%=locals.task ? 'edit-button' : 'create-button'%>">
        <%=locals.task  ? 'Editar atividade' : 'Criar atividade'%>
      </button>
  </div>

  <script src="/scripts/partials/create-task-modal.js"></script>
</body>

</html>